
.profile {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: fit-content; 
    background-color: white;
}

.description {
    padding: 40px 100px 30px 100px;
    text-align: center;
}

.name {
    font-size: 24px;
    font-weight: 700;
    color: black;
    margin: 0;
    margin-bottom: 10px;
}

.tag, .location {
font-size: 18px;
font-weight: 500;
color:rgb(149, 148, 148);
margin: 0;
margin-bottom: 10px;
}

.avatar {
    max-width: 150px;
    margin-bottom: 30px;
    border-radius: 50%;
    background-color: black;
}

.stats{
    margin-top: 0;
    display: flex;
    flex-wrap: nowrap;
   justify-content: stretch;
   text-align: center;
   background-color: rgb(242, 242, 248);
   border-top:  1px  solid rgb(222, 217, 217);
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
}

.stats__item {
    display: inline-block;
    flex-basis: calc((100%) / 3);
    padding-top: 30px;
    padding-bottom: 30px;
}

.stats__item:not(:last-child){
    border-right: 1px  solid rgb(222, 217, 217);
}

.label {
    display: block;
    color: rgb(149, 148, 148);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}

.quantity{
    display: block;
    color: black;
    font-weight: 700;
    font-size: 20px;
}